<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete???</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <p>
        Apakah anda yakin ingin menghapus artikel
        <br />
        <b>{{artikel}}</b>
      </p>
      <input type="Submit" value="Ya" />
      <a href="{% url 'blog:listview'%}">
        <input type="button" value="Tidak" />
      </a>
    </form>
  </body>
</html>
