<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{heading}}</title>
</head>
<body>
  <h1>{{heading}}</h1>

  <form method='post'>
    <!-- security django -->
    {% csrf_token %}
    <label for="nama">Nama : </label>
    <input type="text" name="nama" id="nama">
    <br>
    <label for="alamat">Alamat :</label>
    <input type="text" name="alamat" id="alamat">
    <br>
    <button type="Submit">Kirim</button>
  </form>
</body>
</html>