<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{judul}}</title>
  </head>
  <body>
    <h1>{{judul}}</h1>
    <h2>parameter : {{parameter}}</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero enim eaque
      quisquam hic cupiditate doloremque dolore. Vel maiores voluptas nulla quo
      magnam vitae? Nemo ratione doloribus voluptatibus atque dolores ipsa?
    </p>
    <h3>Penulis : {{penulis}}</h3>
  </body>
</html>
