<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{judul}}</title>
  </head>
  <body>
    <h1>{{judul}}</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa totam nisi
      aut voluptates laboriosam vero fugit at, sequi neque iusto rem dicta,
      nostrum accusantium tempore molestias voluptatibus? Ipsam, laudantium
      quidem.
    </p>
    <h3>Penulis : {{penulis}}</h3>
  </body>
</html>
